# Python
*.pyc
__pycache__/
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Database
db.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django Static Files
staticfiles/
